<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
  {% include "web/nav.html" %}
  
  <div class="p-5">
    {% block content %}
    {% endblock content %}
  </div>
  
  {% include "web/footer.html" %}
</body>
<script>
  function toggleNav() {
    const navLinks = document.getElementById("navLinks")
    if (navLinks.classList.contains("hidden")) {
      navLinks.classList.remove("hidden")
    } else {
      navLinks.classList.add("hidden")
    }
  }
</script>
</html>